body {
    background-color: #523634;
    }
    .container-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }
    .container-delete__body {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 50px 150px 50px 150px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        font-family: UNCAGE;
    }
    .button-actions {
        margin: 20px 0px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .button-actions__delete {
        padding: 15px;
        background-color: #b6452c;
        color: white;
        font-family: UNCAGE;
    }