body {
    background-color: #523634;
    }
    .container-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }
    .container-edit__body {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 50px 150px 50px 150px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        font-family: UNCAGE;
    }
    .user-name {
        margin: 20px 0px 10px 0px;
        padding: 10px;
        font-family: UNCAGE;
    }
    .user-age, .user-category, .user-password {
        margin: 0px 0px 15px 0px;
        padding: 10px;
        font-family: UNCAGE;
    }
    .button-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .button-actions__save {
        padding: 15px;
        background-color: #b6452c;
        color: white;
        font-family: UNCAGE;
    }