{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}" >
    <title>{% block title %}Игра{% endblock %}</title>
</head>
<body class="bg-light">
<header>
    <ul class="header">
        <li class="players">
          <a class="players-button" href="{% url 'player_list' %}">Игроки</a>
        </li>
        <a class="play-button" href="{% url 'game' %}">
        <li class="play">Играть</li>
        </a>
        <li class="login-logout">
          {% if request.session.player_id %}
          <!-- Пользователь авторизован - показываем только выход -->
          <a class="logout" href="{% url 'logout' %}">Выйти</a>
          {% else %}
          <!-- Пользователь не авторизован - показываем создание и вход -->
          <a class="login" href="{% url 'login' %}">Войти</a>
          <a class="reg" href="{% url 'create_player' %}">Регистрация</a>
          {% endif %}
        </li>
      </ul>
</header>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>