{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<body>
<head>
    <link rel="stylesheet" href="{% static 'blog/css/create_player.css' %}" >
</head>
<div class="container-create">
    <div class="container-create__body">
    <h2>Создание пользователя</h2>
    <form method="post">
        {% csrf_token %}
        <p>{{ form.username }}</p>
        <p>{{ form.age }}</p>
        <p>{{ form.category }}</p>
        <p>{{ form.password }}</p>
        <div class="button-actions">
            <button type="submit" class="button-actions__create" style="font-family: UNCAGE;">Создать</button>
            <a href="{% url 'player_list' %}" class="button-actions__back" style="color: black;">Назад</a>
        </div>
    </form>
    </div>
</div>
</body>
{% endblock %}