{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'blog/css/login.css' %}" >
</head>
<body>
    <div class="container-login">
        <div class="container-login__body">
            <h2>Вход</h2>
            <form method="post" class="form-login">
                {% csrf_token %}
                <input class="user-name" type="text" name="username" placeholder="Имя пользователя" style="font-family: UNCAGE;" required>
                <input class="user-password" type="password" name="password" placeholder="Пароль" style="font-family: UNCAGE;" required>
                <button type="submit" class="enter" style="font-family: UNCAGE;">Войти</button>
            </form>
            <p style="color:red; margin-top: 20px;">{{ message }}</p>
        </div>
    </div>
</body>
{% endblock %}
